<!DOCTYPE html>
<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <h1>404 - Product Not Found</h1>
      <a href="/products">Go back to products</a>
    </main>
  </body>
</html>
